body, div, dl, dt, dd, ul, ol, li, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
body {
    font: normal 100% 'Helvetica Neue', Helvetica, arial, freesans, clean, sans-serif;
    background-color: #fff;
    letter-spacing: .02em;
    border-top: 5px solid #56a0c7;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color: #333;
}
*{
    box-sizing: border-box;
}
a{
    background: 0 0;
}
.title a:hover{
    color: #222;
}
.title a:visited{
    text-decoration: none;
    color: #333;
}
.title a{
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: -3px;
    font-family: "Roboto", sans-serif;
}
.title a strong{
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}
.header{
    margin-top: 50px;
}
.header h1{
    width: 332px;
    margin-top: 0;

    margin-bottom: 50px;
}
.header a{
    text-decoration: none;
}
.header .h1_d{
    float: left;
}
.header .nav{
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}
.nav a{
    font-family: Roboto, sans-serif;
    padding-right: 5px;
    color: #333;
}

.nav a:hover{
    color: #428bca;
}
.nav a:visited{
}

.meta{
    padding-left: 3px;
    color: #aaa;
}

small {
    font-size: 0.875em;
}

.wrapper{
    margin: 0 auto;
}

.posts{
    margin-top: 10px;
    font-size: 1.2em;
    padding: 2px 2px 2px 10px;
    list-style-type: none;
}

.posts li{
    margin-bottom: 10px;
}

.posts li a{
    text-decoration: none;
    color: #56a0c7;
}
.posts li a:hover, .posts li a:focus{
    text-decoration: underline;
    color: #2a6496;
}

.posts li a:visited{
    color: #56a0c7;
}

.posts li .date{
    color: #aaa;
    float: right;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.text-footer {
    position: relative;
    margin: 20px 0;
    padding: 15px 15px 15px 90px;
    min-height: 82px;
    border: #E3EDF3 2px dashed;
    background: #F7FAFB;
    border-radius: 4px;
    color: #555;
}
.text-footer .avatar {
    background-image: url('/statics/image/head-small.png');
    width: 60px;
    height: 60px;
    border-radius: 8px;
    position: absolute;
    left: 16px;
    top: 9px;
}

@media screen and (max-width: 240px) {
    .header{
    }
}

@media screen and (min-width: 240px) and (max-width: 320px) {
    
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        width: 690px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .wrapper{
        width: 690px;
    }
}

@media screen and (min-width: 1200px){
    .wrapper{
        width: 690px;
    }
}
